mixin form_style(path, props, select_option)
	select(name='style' + path.map(function(item) { return '[' + item + ']' }).join('') )
		each prop in props
			- var key = Object.keys(props).filter(function(key) { return props[key] == prop })[0]
			option(value=key, selected=select_option && key == select_option)= prop

mixin form_map(columns)
	.issue_map
		.issue_colums
			each column in (columns && columns.length) ? columns : new Array(1)
				.issue_column
					.column_options
						.delete_item.column
						input.column_main(type='radio', name='main_column', checked=!columns ? true : column.main, title='Главная колонка')
					.column_articles
						each article in column ? column.articles : new Array(0)
							.issue_article(id=article._id)
								.delete_item.article
								img.article_image(src=article.base)
								.article_title= article.title
						.add_item.article
			.add_item.column
		.articles_list
			input.list_search(type='text', placeholder='поиск...')
			.list_items
				each item, i in new Array(0)
					.list_item= i+1