.list_items
	each issue in issues
		.list_item
			a.item_rm.issue(href='#', id=issue._id) -- удалить
			a.item_title(href='/admin/issues/edit/' + issue._id, class=issue.status =='hidden' ? 'hidden': '')= issue.numb ? ('Номер ' + issue.numb) : '!!! ПУСТОЕ ПОЛЕ !!!'
			if (issue.theme && issue.numb)
				span: i= ' - ' + issue.theme
			if issue.numb
				span.item_preview
					span= ' --> '
					a(href='/issues/' + issue.numb, target='_blank') превью

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед