extends ../layout
include ../_forms.jade
include _forms.jade

block paths
	- var content_title= 'ДОБАВИТЬ НОМЕР'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/pickmeup.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/add.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/a_issue.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/jquery.pickmeup.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js' + version)
	script(type='text/javascript', src='/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/editor.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/add.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/a_events.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/a_issue.js' + version)

block sub_menu
	a.sub_item.back_link(href='/admin/issues') Назад

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Номер:
			input(type='number', name='numb', min='1', value=count+1)
			.form_title Логотип:
			input(type='file', name='logo')
			.form_title Фон:
			input(type='file', name='background')
			.form_title Стиль фона:
			span Позиция:
			+form_style(['background', 'position'], {'top': 'Сверху', 'center': 'По центру', 'bottom': 'Снизу' })
			span= ' | '
			span Размер:
			+form_style(['background', 'size'], {'none': 'Фактический', 'cover': 'Вылет', 'contain': 'В край' })
			span= ' | '
			span Фиксация:
			+form_style(['background', 'attachment'], {'scroll': 'Выкл.', 'fixed': 'Вкл.' })
			span= ' | '
			span Повторение:
			+form_style(['background', 'repeat'], {'no-repeat': 'Выкл.', 'repeat': 'Вкл.' })
			.form_title Карта обложки:

			.issue_map
				.issue_colums
					each column in new Array(1)
						.issue_column
							.column_options
								.delete_item.column
							.column_articles
								each article, i in new Array(0)
									.issue_article(id=article._id)
										.delete_item.article
										!= i+1
								.add_item.article
					.add_item.column
				.articles_list
					input.list_search(type='text', placeholder='поиск...')
					.list_items
						each item, i in new Array(0)
							.list_item= i+1


			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden')
			!= ' скрыть'
			.form_title Дата публикации:
			+form_date('date')
			br
			br
			input(type='submit', value='отправить')