extends ../layout
include ../_forms
include _forms

block header_meta
	- var content_title= 'ДОБАВИТЬ НОМЕР'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css', 'a_issue.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js', 'jquery-ui.min.js']
	- var include_js = ['editor.js', 'add.js', 'a_events.js', 'a_issue.js']

block sub_menu
	a.sub_item.back_link(href='/admin/issues') Назад
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action='', method='post', enctype='multipart/form-data')
			.form_title Номер:
			input(type='number', name='numb', min='1', value=count+1)
			.form_title Тема:
			+form_text_single('theme')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Логотип:
			+form_single_file('logo')(accept='image/jpeg,image/png,image/svg+xml')
			.form_title Фон:
			+form_single_file('background')(accept='image/jpeg,image/png,image/svg+xml')
			.form_title Стиль фона:
			span Позиция:
			+form_style(['background', 'position'], {'top': 'Сверху', 'center': 'По центру', 'bottom': 'Снизу' })
			span= ' | '
			span Размер:
			+form_style(['background', 'size'], {'none': 'Фактический', 'cover': 'Вылет', 'contain': 'В край' })
			span= ' | '
			span Фиксация:
			+form_style(['background', 'attachment'], {'scroll': 'Выкл.', 'fixed': 'Вкл.' })
			span= ' | '
			span Повторение:
			+form_style(['background', 'repeat'], {'no-repeat': 'Выкл.', 'repeat': 'Вкл.' })
			.form_title Карта обложки:
			+form_map()
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date')