extends ../layout

block paths
	- var content_title= 'КРОТ | ' + article.title

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/article.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/article.js' + version)

block logo
	img(src=article.cover || '/stuff/' + __app_name + '/icons/logo/krot_main.png')

block content
	.article_header
		a.header_back(href='/'): img(src='/stuff/' + __app_name + '/icons/logo/krot_mono_invert.png')
		.article_categorys
			each category in article.categorys
				a.category_item(href='#' + category._short_id)!= category.title

	.article_body
		.article_files
			each file, i in article.files || []
				a.file_item(href=file.path)= file.desc ? '< ' + file.desc + ' >' : '< File ' + (i+1) + ' >'
		.article_intro!= article.intro
		.article_description!= article.description