.list_items
	each category in categorys
		.list_item
			a.item_rm.category(href='#', id=category._id) -- удалить
			a.item_title(href='/admin/categorys/edit/' + category._id, class=category.status =='hidden' ? 'hidden': '')= (category.title || '!!! ПУСТОЕ ПОЛЕ !!!')

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед