.list_items
	each article in articles
		.list_item
			a.item_rm.article(href='#', id=article._id) -- удалить
			a.item_title(href='/admin/articles/edit/' + article._id, class=article.status =='hidden' ? 'hidden': '')= article.title ? article.title : '!!! ПУСТОЕ ПОЛЕ !!!'
			span.item_preview
				span= ' --> '
				a(href='/articles/' + (article.sym ? article.sym : article._short_id), target='_blank') превью

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед