extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'РЕДАКТИРОВАТЬ МАТЕРИАЛ'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/pickmeup.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/jquery.pickmeup.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/editor.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/add.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/a_events.js' + version)

block sub_menu
	a.sub_item.back_link(href='/admin/articles') Назад

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Шапка:
			input(type='file', name='cover')
			if (article.cover)
				input(type='checkbox', name='cover_del')
				span= ' | удалить'
			.form_title Обложка:
			span Базовая:
			input(type='file', name='base')
			if (article.base)
				input(type='checkbox', name='base_del')
				span= ' | удалить'
			br
			br
			span Наведение:
			input(type='file', name='hover')
			if (article.hover)
				input(type='checkbox', name='hover_del')
				span= ' | удалить'
			.form_title Название:
			+form_text_single('title', article)
			.form_title Вступление:
			+form_text_multi('intro', article)
			.form_title Описание:
			+form_text_multi('description', article)
			.form_title Категории:
			+form_multiple_select('categorys', categorys, article.categorys)
			.form_title Видимость:
			input(type='checkbox', name='status', value='hidden', checked=article.status == 'hidden')
			!= ' скрыть'
			.form_title Дата публикации:
			+form_date('date', article.date)
			br
			br
			input(type='submit', value='отправить')